<div class="buttons">
  Init-Label:
  <!-- <button id="ct" (click)="ct()" type="button">Create 10 tabs</button>
  <button id="ch" (click)="ch()" type="button">Create 100 tabs</button>
  <button id="cth" (click)="cth()" type="button">Create 1000 tabs</button>
  <button id="ctt" (click)="ctt()" type="button">Create 10000 tabs</button> -->
  <button id="ctbl" (click)="ctbl()" type="button">Create 1000 bound labels</button>
  <button id="cttbl" (click)="cttbl()" type="button">Create 10000 bound labels</button>
  <!-- <button id="chtbl" (click)="chtbl()" type="button">Create 100000 bound labels</button> -->
  <!-- <button id="ctpt" (click)="ctpt()" type="button">Create 1000 entries per tab</button>
  <button id="cttpt" (click)="cttpt()" type="button">Create 10000 entries per tab</button> -->
  <br>
  Init-Textboxes:
  <button id="cttb" (click)="cttb()" type="button">Create 1000 text boxes</button>
  <button id="ctttb" (click)="ctttb()" type="button">Create 10000 text boxes</button>
  <br>
  Init-Tabs:
  <button id="ctt" (click)="ctt()" type="button">Create 1000 tabs with 1000 entries</button>
  <button id="cttt" (click)="cttt()" type="button">Create 10000 tabs with 1000 entries</button>
  <button id="chtt" (click)="chtt()" type="button">Create 1000 tabs with 10000 entries</button>
  <br>
  Execute-Label:
  <button id="ubl" (click)="ubl()" type="button">Update bound labels</button>
  <button id="sbl" (click)="sbl()" type="button">Swap two labels</button>
  <button id="srbl" (click)="srbl()" type="button">Swap two random labels</button>
  <button id="strbl" (click)="strbl()" type="button">Swap 1000 random labels</button>
  <br>
  <button id="rbl" (click)="rbl()" type="button">Remove a label</button>
  <button id="rrbl" (click)="rrbl()" type="button">Remove a random label</button>
  <button id="rtrbl" (click)="rtrbl()" type="button">Remove 1000 random labels</button>
  <br>
  Execute-Tabs:
  <button id="ut" (click)="ut()" type="button">Update tabs</button>
  <button id="st" (click)="st()" type="button">Switch tabs</button>
  <button id="srt" (click)="srt()" type="button">Switch random tabs</button>
  <button id="srht" (click)="srht()" type="button">Switch random 100 tabs</button>
  <button id="srtt" (click)="srtt()" type="button">Switch random 1000 tabs</button>
  <button id="srttt" (click)="srttt()" type="button">Switch random 10000 tabs</button>
  <br>
  <button id="sttrlrt" (click)="sttrlrt()" type="button">Switch 10000 random labels from random tabs</button>
  <button id="shtrlrt" (click)="shtrlrt()" type="button">Switch 100000 random labels from random tabs</button>
  <button id="smrlrt" (click)="smrlrt()" type="button">Switch 1000000 random labels from random tabs</button>
  <br>
  Execute-Textboxes:
  <button id="utb" (click)="utb()" type="button">Update textboxes</button>
  <button id="chthtb" (click)="chthtb()" type="button">Change text 100 textboxes</button>
  <button id="chtttb" (click)="chtttb()" type="button">Change text 1000 textboxes</button>
  <button id="chttttb" (click)="chttttb()" type="button">Change text 10000 textboxes</button>
  <br>
  <button id="rtb" (click)="rtb()" type="button">Remove textbox</button>
  <button id="rrtb" (click)="rrtb()" type="button">Remove random textbox</button>
  <button id="rhrtb" (click)="rhrtb()" type="button">Remove 100 random textboxes</button>
  <button id="rtrtb" (click)="rtrtb()" type="button">Remove 1000 random textboxes</button>
  Clear:
  <button id="clear" (click)="clear()" type="button">Clear</button>

  <!-- <button id="set" (click)="set()" type="button">Swap random entries in each tab</button>
  <button id="sbt" (click)="sbt()" type="button">Swap random entries between tabs</button>
  <button id="stet" (click)="stet()" type="button">Swap random 1000 entries in each tab</button>
  <button id="stbt" (click)="stbt()" type="button">Swap random 1000 entries between tabs</button>
  <button id="sttet" (click)="sttet()" type="button">Swap random 10000 entries in each tab</button>
  <button id="sttbt" (click)="sttbt()" type="button">Swap random 10000 entries between tabs</button>

  <button id="ttc" (click)="ttc()" type="button">10 Tabs changes random</button>
  <button id="htc" (click)="htc()" type="button">100 Tabs changes random</button>
  <button id="it" (click)="it()" type="button">Iterate through all tabs</button>
  <button id="itr" (click)="itr()" type="button">Iterate through all tabs backwards</button> -->

  <div id="labels">
    <app-label *ngFor="let label of labels;trackBy: trackById" id="bl-{{label.id}}" labelId="{{label.id}}">{{label.name}}</app-label>
  </div>
  <div id="textBoxes">
    <app-text-box *ngFor="let textbox of textBoxes;let i=index;trackBy: trackById" [(tb)]="textBoxes[i]"></app-text-box>
  </div>
  <div id="tabs">
    <app-tabs [tabsData]="tabs"></app-tabs>
  </div>
</div>
